.header {
  background-color: #333;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.menuItem {
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;

    &:hover {
      color: #f0a500;
    }
  }
}
