.wrapper {
  border: 2px solid #ccc;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 50% 50;
}

.sectionForm {
  display: flex;
  flex-direction: column;
}
