// .wrapper {
//   border: 2px solid #ccc;
//   padding: 50px;
//   border-radius: 10px;
//   display: flex;
//   flex-direction: column;
//   margin: 50% 50;
// }

// .sectionForm {
//   display: flex;
//   flex-direction: column;
// }

// Form.module.scss

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='file'],
input[type='radio'],
input[type='checkbox'],
datalist {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.genderItems {
  display: flex;
  flex-direction: row;
}
input[type='radio'],
input[type='checkbox'] {
  width: auto;
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
