.footer {
  height: 4.375rem;
}
.footerBlock {
  height: 4.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discordImg {
  width: 30px;
}
.rssImg {
  width: 50px;
}
.githubImg {
  width: 30px;
}
